<div id="PopupCart" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="Cart__inside popup-content left" data-cart-view rv-cloak>
      <div class="h4">{% include 'icon' with 'cart' %}{{ 'cart.title' | t }}</div>
      <div class="empty" rv-if="cart.item_count | eq 0"> Your Cart is Empty</div>
      <div class="Cart-items" rv-each-item="cart.items">
        <div class="Cart-items-inside">

        <div class="column l3 image-container">
          <img rv-src="item.image | productImageSize 'small'">
        </div>
        
        <div class="Cart-text">
        <p class="item-title">
          <a rv-href="item.url">{ item.product_title } <br> </a>
        </p>
        <div class="row cart-item">
          <div class="column l12 m12 s12 money-container">
            <strong>{ item.line_price | money }</strong>
          </div>
          <div class="Cart-adjust column l12 m12 s12 left">
            <div class="quanity_adjust">
              <a class="adjust" id="minusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&#8722;</a>
              <span class="quantity">{ item.quantity }</span>
              <a class="adjust" id="plusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&#43;</a>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="Cart__bottom">
      <div class="row cart-item">

        <div class="column l6 m6 s6 right Cart__price">
          <p>{{ 'cart.total' | t }}</p><p data-cart-view>{ cart.total_price | money_with_currency }</p>
        </div>
      </div>
      <p class="center"><a href="/checkout" class="button wide" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a></p>
              <div class="column l12 m12 s12 center">
      <a href="#close" class="Cart__continue popup-close popup-close-2" data-close data-target="#PopupCart.popup" aria-label="{{ 'common.close' | t }}">Continue Shopping</a>
        </div>
    </div>
    </div>
  </div>
      <a href="#close" class="popup-close" data-close data-target="#PopupCart.popup" aria-label="{{ 'common.close' | t }}">{%include 'icon' with 'close'%}</a>

</div>
