<div class="container">
  <div class="row">
    <div class="column l12">
      <h2 class="Info__title">{{section.settings.main_title}}</h2>
      <p class="Info__description">{{section.settings.main_description}}</p>
    </div>
  </div>
  <div class="row">
  {% for block in section.blocks %}
    <div class="column l4 m4 s12">
      <a class="Info__url" href="{{block.settings.url}}">
        <div class="Info__image">
          <picture>
            <source media="(min-width:650px)" srcset="{{block.settings.image | img_url:'master'}}">
            <source media="(max-width:650px)" srcset="{{block.settings.mobile_image | img_url:'master'}}">
            <img src="{{block.settings.image | img_url:'master'}}">
          </picture>
        </div>
        <div class="Info__text">
          <h2>{{block.settings.title}}</h2>
          <h2>{{block.settings.title_2}}</h2>
          <p>{{block.settings.description}}</p>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "General Info",
  "class":"Info",
  "settings":[
    {
      "type":"text",
      "id":"main_title",
      "label":"Title"
    },
    {
      "type":"text",
      "id":"main_description",
      "label":"Description"
    }
  ],
  "blocks":[{
    "type":"Info",
    "name":"Info",
    "limit": 3,
    "settings": [
      {
        "type":"header",
        "content":"Collection Block"
      },
      {
        "id":"image",
        "type":"image_picker",
        "label":"Collection Image"
      },
      {
        "id":"mobile_image",
        "type":"image_picker",
        "label":"Collection Image Mobile"
      },
      {
        "id": "title",
        "type": "text",
        "label": "First Title Line"
      },
      {
        "id": "title_2",
        "type": "text",
        "label": "Second Title Line"
      },
      {
        "id": "description",
        "type": "text",
        "label": "Description"
      },
      {
        "id":"url",
        "type":"url",
        "label":"Links to"
      }
    ]
  }],
  "presets":[{
      "name": "General Info",
      "category": "Homepage"
    }
  ]
}
{% endschema %}