<div class="ProductCustom">
  
  <div class="ProductCustom--top js-top">
    <h1>{{product.title}}</h1>    
    <p>Price</p>
  </div>

  <div class="ProductCustom--left js-leftSide">
    <div class="ProductCustom__step ProductCustom__step--1 js-step js-stepOne">
      <div class="ProductCustom__title ProductCustom__color--title js-title"><p>1</p></div>
      <div class="ProductCustom--options ProductCustom__color--options">
        <div class="ProductCustom__title-container">
          <h2>Step 1</h2>
          <p>Sandal Color</p>
        </div>
        
        <div class="ProductCustom__options">
          <div class="ProductCustom__label">
            <p>Sandal Plain</p>
          </div>
          
          <div class="ProductCustom__option--swatches ProductCustom__color--swatches">
          {% for tag in product.tags %}
          {% if tag contains 'color_' %}
            {% assign color = tag | split: '_' | last %}
              <div class="ProductCustom__swatch--container ProductCustom__swatch--color--container">
                <div class="test"><div data-color="{{color}}" class="{{color}} ProductCustom__swatch--color js-colorSwatch"></div></div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>


        <div class="ProductCustom__next js-next">
          <button>Next</button>
        </div>
      </div>
    </div>
    <div class="ProductCustom__step ProductCustom__step--2 js-stepTwo js-step">
      <div class="ProductCustom__title ProductCustom__stitch--title js-title"><p>2</p></div>
      <div class="ProductCustom--options ProductCustom__stitch--options">
        <div class="ProductCustom__title-container">
          <h2>Step 2</h2>
          <p>Choose Whipstick color</p>
        </div>

        <div class="ProductCustom__options">
          <div class="ProductCustom__label">
            <p>Whipstich Plain</p>
          </div>
          
          <div class="ProductCustom__option--swatches ProductCustom__stitch--swatches">
          {% for tag in product.tags %}
          {% if tag contains 'whipstitch_' %}
          {% assign stitchColor = tag | split: '_' | last %}
            <div class="ProductCustom__swatch--container ProductCustom__swatch--stitch--container">
              <div data-stitch="{{stitchColor}}" class="{{stitchColor}} ProductCustom__swatch--color js-stitchSwatch"></div>
            </div>
          {% endif %}
          {% endfor %}
          </div>
        </div>


        <div class="ProductCustom__next ProductCustom__next--2">
          <button class="ProductCustom__prev js-prev">Back</button>
          <button class="ProductCustom__nexted js-nextTwo">Next</button>
        </div>

      </div>
    </div>
    <div class="ProductCustom__step ProductCustom__step--3 js-step js-stepThree">
      <div class="ProductCustom__title ProductCustom__size--title js-title"><p>3</p></div>
      <div class="ProductCustom--options ProductCustom__size--options">
        <div class="ProductCustom__title-container">
          <h2>Step 3</h2>
          <p>Choose Size</p>
        </div>

        <div class="ProductCustom__options">
          <div class="ProductCustom__label">
            <p>Size</p>
          </div>
          
          <div class="ProductCustom__option--swatches ProductCustom__size--swatches js-sizeContainer"></div>
          <div class="ProductCustom__add-more js-addMore">Add More Sizes</div>
        </div>

        <div class="ProductCustom__next ProductCustom__next--2">
          <button class="ProductCustom__prev js-prevThree">Back</button>
          <button class="ProductCustom__nexted js-nextThree">Next</button>
        </div>

      </div>
    </div>
  </div>

  <div class="ProductCustom--right">
    <div class="ProductCustom__right__step--1 active">
      <div class="ProductCustom__image-background">
        <img src="{{section.settings.background_image | img_url:'master'}}">      
      </div>
      <div class="ProductCustom__text-container">
        <h2>{{section.settings.main_title}}</h2>
        <h3>{{section.settings.main_sub}}</h3>
        <p>{{section.settings.subtitle}}</p>
        <button class="js-start">{{section.settings.button_text}}</button>
      </div>
    </div>
    <div class="ProductCustom__right__step--2">
      <div class="ProductCustom__image-sandal">
        <img src="{{section.settings.default_shoe | img_url:'master'}}">      
      </div>
      <div class="ProductCustom__text-container--right js-textContainerRight">
        <div class="ProductCustom__close js-close">{% include 'icon' with 'close' %}</div>
        <div class="ProductCustom__text--right js-rightExpand">
          <h1>{{product.title}}</h1>
          <p class="price">Price</p>
          <p class="ProductCustom__option--line">Sandal Color</p>
          <div class="ProductCustom__option--color js-optionColor"></div>
          <p class="ProductCustom__option--line">Whipstich color</p>
          <div class="ProductCustom__option__stitch js-optionStitch"></div>
          <p class="ProductCustom__option--line">Size and Quantity</p>
          <div class="ProductCustom__option--size js-optionSize">
            <div class="ProductCustom__options">
              <div class="ProductCustom__option--swatches ProductCustom__size--swatches js-sizeContainer js-sizeContainer2"></div>
              <div class="ProductCustom__add-more js-addMore--2">Add More Sizes</div>
            </div>
          </div>
          <div class="ProductCustom__reset js-reset">Reset All</div>
          <div class="ProductCustom__add js-add">
            <button>Add to Bag</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ProductCustom--mobile js-mobile">

      <div class="ProductCustom__step-container js-stepContainer"> 
          
          <button class="ProductCustom__back js-back" data-step="step1"><</button>
          
          <div class="ProductCustom__step--mobile ProductCustom__mobile--1 js-stepMobile js-stepMobile1 active" data-step="step1">
           <h3>Step 1/3</h3>
           <p>Sandal Color or Pattern</p>
          </div>
          
          <div class="ProductCustom__step--mobile ProductCustom__mobile--2 js-stepMobile js-stepMobile2 " data-step="step2">
            <h3>Step 2/3</h3>
            <p>Choose Whipstich color</p>
          </div>
          
          <div class="ProductCustom__step--mobile ProductCustom__mobile--3 js-stepMobile js-stepMobile3 " data-step="step3">
            <h3>Step 3/3</h3>
            <p>Choose Size & Quantity</p>
          </div>
          
          <button class="ProductCustom__forward js-forward show" data-step="step1" data-first-option="" data-second-option="" disabled>></button>
          
      </div>
      
      <div class="ProductCustom__value-container js-valueContainer">
        <div class="ProductCustom__step--mobile ProductCustom__color--slider js-valueMobile js-colorSlider active" data-step="step1">
          <div class=" js-slides">
          {% for tag in product.tags %}
          {% if tag contains 'color_' %}
            {% assign color = tag | split: '_' | last %}
              <div class="ProductCustom__swatch--container ProductCustom__swatch--color--container">
                <div class="ProductCustom__text--container">
                  <div data-color="{{color}}" class="{{color}} ProductCustom__swatch--color js-colorSwatch"></div>
                  <div class="ProductCustom__text--details">
                    <p class="ProductCustom__text--details--top">SANDAL COLOR</p>
                    <p>{{color}}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>


        <div class="ProductCustom__step--mobile ProductCustom__stitch--slider js-valueMobile js-stitchSlider" data-step="step2">
          <div class="js-slider">
              {% for tag in product.tags %}
              {% if tag contains 'whipstitch_' %}
              {% assign stitchColor = tag | split: '_' | last %}
                <div class="ProductCustom__swatch--container ProductCustom__swatch--stitch--container">
                  <div class="ProductCustom__text--container">
                    <div data-stitch="{{stitchColor}}" class="{{stitchColor}} ProductCustom__swatch--color js-stitchSwatch"></div>
                    <div class="ProductCustom__text--details">
                      <p class="ProductCustom__text--details--top">WHIPSTICH COLOR</p>
                      <p>{{stitchColor}}</p>
                    </div>
                  </div>

                </div>
              {% endif %}
              {% endfor %}        
          </div>
        </div>


        <div class="ProductCustom__step--mobile ProductCustom__size js-valueMobile js-Size" data-step="step3">
          <div class="ProductCustom__size--container js-sizeMobile">
            
          </div>
          
          <div class="ProductCustom__add-more js-addMore">Add More Sizes</div>

          <div class="ProductCustom__add--mobile js-addMobile">
            <button>Add to Bag</button>
          </div>
        </div>
      </div>

  </div>


</div>

<style>
  .ProductCustom__text-container h2{
    color:{{section.settings.main_color}};
    font-size:{{section.settings.main_font_size}}px;
    font-family:'Brandon-Bold';
    text-transform:uppercase;
    line-height:{{section.settings.main_font_size}}px;

  }
  .ProductCustom__text-container h3{
    color:{{section.settings.main_sub_color}};
    font-size:{{section.settings.main_sub_size}}px;
    font-family:'Brandon-Bold';
    text-transform:uppercase;
    line-height:{{section.settings.main_sub_size}}px;
    margin-bottom:35px;
  }
  .ProductCustom__text-container p{
    font-family:'Brandon-Reg';
    font-size:{{section.settings.subtitle_size}}px;
    color:{{section.settings.sub_color}};
  }
  .ProductCustom__text-container button{
    background-color:transparent;
    background-color:{{section.settings.button_background_color}};
    color:{{section.settings.button_color}};
    border:2px solid {{section.settings.button_color}};
    font-family:'Brandon-Bold';
    font-size:{{section.settings.button_size}}px;
    text-transform:uppercase;
    border-radius:0;
    height:35px;
    line-height:32px;
    max-width:240px;
    width:100%;
  }
</style>

<script>
  customJack();
</script>

{% schema %}
{
  "name": "Custom Product",
  "settings":[
    {
      "type":"image_picker",
      "id":"background_image",
      "label":"Select Background Image"
    },
    {
      "type":"color",
      "id":"main_color",
      "label":"Main Title Color"
    },
    {
      "type":"text",
      "id":"main_title",
      "label":"Title"
    },
    {
      "type":      "range",
      "id":        "main_font_size",
      "min":       1,
      "max":        99,
      "step":       1,
      "unit":       "px",
      "label":     "Font size (1-99px)",
      "default":   16
    },
    {
      "type":"color",
      "id":"main_sub_color",
      "label":"Main Subtitle Color"
    },
    {
      "type":"text",
      "id":"main_sub",
      "label":"Main Title Sub"
    },
    {
      "type":      "range",
      "id":        "main_sub_size",
      "min":       1,
      "max":        99,
      "step":       1,
      "unit":       "px",
      "label":     "Font size (1-99px)",
      "default":   16
    },
    {
      "type":"color",
      "id":"sub_color",
      "label":"Subtitle Color"
    },
    {
      "type":"text",
      "id":"subtitle",
      "label":"Subtitle"
    },
    {
      "type":      "range",
      "id":        "subtitle_size",
      "min":       1,
      "max":        99,
      "step":       1,
      "unit":       "px",
      "label":     "Font size (1-99px)",
      "default":   16
    },
    {
      "type":"color",
      "id":"button_color",
      "label":"Button Color"
    },
    {
      "type":"color",
      "id":"button_background_color",
      "label":"Button Background Color"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"Button text"
    },
    {
      "type":      "range",
      "id":        "button_size",
      "min":       1,
      "max":        99,
      "step":       1,
      "unit":       "px",
      "label":     "Font size (1-99px)",
      "default":   16
    },
    {
      "type":"image_picker",
      "id":"default_shoe",
      "label":"Select Custom Image"
    }
  ]
}
{% endschema %}